:root {
  --bg-color: #171c28;
  --color-headings: #bae67e;
}

@font-face {
  font-family: "ApercuRegular";
  src: url("fonts/Apercu-Font/Apercu Light.otf");
}

@font-face {
  font-family: "ApercuBold";
  src: url("fonts/Apercu-Font/Apercu Pro Bold.otf");
}

body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  background: var(--bg-color);
  cursor: none;
}

.btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.cursor {
  width: 22px;
  height: 22px;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-animation: cursorAnim 0.5s infinite alternate;
          animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 2px solid #1b1b1b;
  border-radius: 50%;
  opacity: 0.5;
  top: -2px;
  left: -2px;
}

@-webkit-keyframes cursorAnim {
  from {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@keyframes cursorAnim {
  from {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@-webkit-keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
}

.title {
  height: 100vh;
  width: 50%;
  margin: 0 auto;
  padding-left: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title .sub-title {
  color: #e7e7e7;
  font-size: 2.1rem;
  letter-spacing: 2px;
  font-family: "ApercuRegular", sans-serif;
}

.title .sub-title .wave {
  height: 2rem;
  -webkit-animation-name: wave-animation;
          animation-name: wave-animation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: 70% 70%;
          transform-origin: 70% 70%;
}

.title .main-title {
  margin-top: 8%;
  line-height: 1.5;
  color: #e7e7e7;
  font-size: 1.92rem;
  max-width: 700px;
  font-family: "ApercuRegular", sans-serif;
}

.title .main-title .name {
  font-family: "ApercuBold", sans-serif;
}

.title .sub-contact-details {
  font-family: "ApercuRegular", sans-serif;
  margin-top: 10%;
  font-size: 1.35rem;
  color: #e7e7e7;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.title .sub-contact-details .pointoright {
  height: 1.6rem;
  padding-left: 10px;
  padding-right: 10px;
}

.title .sub-contact-details .mail-link {
  font-family: "AperRegular", sans-serif;
  text-decoration: none;
  color: #e7e7e7;
  border-bottom: 3px solid #007bff;
  padding-bottom: 2px;
}

.main-section {
  margin-bottom: 10%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-section .background-title {
  letter-spacing: 2.61px;
  font-size: 1.14rem;
  padding-right: 3%;
  padding-top: 5%;
  padding-left: 19%;
  font-family: "ApercuRegular", sans-serif;
  font-weight: 600;
  color: #007bff;
}

.main-section .background-details {
  letter-spacing: 1.1px;
  font-size: 1.15rem;
  line-height: 1.7;
  color: #e7e7e7;
  padding-top: 5%;
  padding-right: 10%;
  font-family: "ApercuRegular", sans-serif;
}

.skill {
  margin-bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.skill .skill-main-title {
  letter-spacing: 2.61px;
  font-size: 1.14rem;
  padding-right: 11%;
  padding-top: 5%;
  padding-left: 19%;
  font-family: "ApercuRegular", sans-serif;
  font-weight: 600;
  color: #007bff;
}

.skill .skill-sub-title {
  padding-top: 5%;
  font-family: "ApercuRegular", sans-serif;
  letter-spacing: 1.1px;
  padding-right: 10%;
  font-size: 1.15rem;
  line-height: 1.7;
  color: #e7e7e7;
}

.skill .skill-sub-title .skill-list li {
  position: relative;
  padding-left: 15px;
  letter-spacing: 1.1px;
  line-height: 1.7;
  color: #e7e7e7;
  font-family: "ApercuRegular", sans-serif;
}

.skill .skill-sub-title .resume {
  font-family: "ApercuBold", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 1.4px;
}

.skill .skill-sub-title .arrow {
  color: #e7e7e7;
  margin: 1em 0;
}

.skill .skill-sub-title .arrow::after {
  color: #007bff;
  display: inline-block;
  padding-left: 8px;
  content: "\0279E";
  -webkit-transition: transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.skill .skill-sub-title .arrow:hover::after {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  .title {
    margin-top: 2%;
    height: 99vh;
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .title .btn {
    margin-top: -10%;
  }
  .title .sub-title {
    -ms-flex-item-align: start;
        align-self: flex-start;
    color: #e7e7e7;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-family: "ApercuRegular", sans-serif;
  }
  .title .sub-title .wave {
    height: 2rem;
  }
  .title .main-title {
    line-height: 1.7;
    color: #e7e7e7;
    font-size: 1.1rem;
    max-width: 700px;
    font-family: "ApercuRegular", sans-serif;
  }
  .title .main-title .name {
    font-family: "ApercuBold", sans-serif;
    font-weight: 700;
  }
  .title .sub-contact-details {
    font-family: "ApercuRegular", sans-serif;
    margin-top: 35%;
    font-size: 1rem;
    color: #e7e7e7;
  }
  .title .sub-contact-details .pointoright {
    height: 1rem;
    padding-left: 10px;
    padding-right: 10px;
  }
  .title .sub-contact-details .mail-link {
    font-family: "AperRegular", sans-serif;
    text-decoration: none;
    color: #e7e7e7;
    font-size: 1rem;
    border-bottom: 2px solid #007bff;
    padding-bottom: 2px;
  }
  .main-section {
    margin-top: 1%;
    margin-bottom: 2%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-section .background-title {
    width: 70%;
    font-size: 1rem;
    padding: 4%;
    letter-spacing: 1.1px;
    font-family: "ApercuBold", sans-serif;
    color: #007bff;
  }
  .main-section .background-details {
    width: 73%;
    letter-spacing: 1.1px;
    font-size: 0.91rem;
    line-height: 1.6;
    color: #e7e7e7;
    padding: 4%;
    font-family: "AperRegular", sans-serif;
  }
  .skill {
    margin-top: 14%;
    margin-bottom: 2%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skill .skill-main-title {
    width: 70%;
    font-size: 1rem;
    padding: 4%;
    letter-spacing: 1.1px;
    font-family: "ApercuBold", sans-serif;
    color: #007bff;
  }
  .skill .skill-sub-title {
    width: 73%;
    letter-spacing: 1.1px;
    font-size: 0.91rem;
    line-height: 1.6;
    color: #e7e7e7;
    padding: 4%;
    font-family: "AperRegular", sans-serif;
  }
  .skill .skill-sub-title .skill-list li {
    position: relative;
    padding-left: 15px;
    letter-spacing: 1.1px;
    font-size: 0.91rem;
    line-height: 1.7;
    color: #e7e7e7;
    font-family: "ApercuRegular", sans-serif;
  }
  .skill .skill-sub-title .resume {
    font-size: 1rem;
    letter-spacing: 1.4px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .title {
    height: 100vh;
    width: 50%;
    margin: 0 auto;
    padding-left: 7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .title .sub-title {
    color: #e7e7e7;
    font-size: 1.52rem;
    letter-spacing: 2px;
    font-family: "ApercuRegular", sans-serif;
  }
  .title .sub-title .wave {
    height: 2rem;
  }
  .title .main-title {
    margin-top: 8%;
    line-height: 1.5;
    color: #e7e7e7;
    font-size: 1.52rem;
    font-family: "ApercuRegular", sans-serif;
  }
  .title .main-title .name {
    font-family: "ApercuBold", sans-serif;
    font-weight: 700;
  }
  .title .sub-contact-details {
    font-family: "ApercuRegular", sans-serif;
    margin-top: 15%;
    font-size: 1.15rem;
    color: #e7e7e7;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .title .sub-contact-details .pointoright {
    height: 1.6rem;
    padding-left: 10px;
    padding-right: 10px;
  }
  .title .sub-contact-details .mail-link {
    font-family: "AperRegular", sans-serif;
    text-decoration: none;
    color: #e7e7e7;
    border-bottom: 3px solid #007bff;
    padding-bottom: 2px;
  }
  .main-section {
    margin-top: 4%;
    margin-bottom: 2%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-section .background-title {
    width: 70%;
    font-size: 1.1rem;
    padding: 3%;
    letter-spacing: 1.1px;
    font-family: "ApercuBold", sans-serif;
    color: #007bff;
  }
  .main-section .background-details {
    width: 70%;
    letter-spacing: 1.1px;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #e7e7e7;
    padding: 1%;
    font-family: "AperRegular", sans-serif;
  }
  .skill {
    margin-top: 4%;
    margin-bottom: 2%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skill .skill-main-title {
    width: 70%;
    font-size: 1.1rem;
    padding: 3%;
    letter-spacing: 1.1px;
    font-family: "ApercuBold", sans-serif;
    color: #007bff;
  }
  .skill .skill-sub-title {
    width: 70%;
    letter-spacing: 1.1px;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #e7e7e7;
    padding: 1%;
    font-family: "AperRegular", sans-serif;
  }
  .skill .skill-sub-title .skill-list li {
    position: relative;
    padding-left: 15px;
    letter-spacing: 1.1px;
    font-size: 1.1rem;
    line-height: 1.7;
    color: #e7e7e7;
    font-family: "ApercuRegular", sans-serif;
  }
  .resume {
    font-family: "ApercuBold", sans-serif;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 1.4px;
  }
}

@media only screen and (min-width: 2000px) {
  .title {
    height: 100vh;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .title .btn {
    margin-top: -10%;
  }
  .title .sub-title {
    -ms-flex-item-align: start;
        align-self: flex-start;
    color: #e7e7e7;
    font-size: 3.8rem;
    letter-spacing: 1px;
    font-family: "ApercuRegular", sans-serif;
  }
  .title .sub-title .wave {
    height: 3.8rem;
  }
  .title .main-title {
    line-height: 1.5;
    color: #e7e7e7;
    font-size: 3.8rem;
    font-family: "ApercuRegular", sans-serif;
  }
  .title .main-title .name {
    font-family: "ApercuBold", sans-serif;
    font-weight: 700;
  }
  .title .sub-contact-details {
    font-family: "ApercuRegular", sans-serif;
    font-size: 2.4rem;
  }
  .title .sub-contact-details .pointoright {
    padding-left: 10px;
    padding-right: 10px;
  }
  .title .sub-contact-details .mail-link {
    color: #e7e7e7;
    padding-bottom: 2px;
  }
  .main-section .background-title {
    padding-top: 5%;
    padding-left: 5%;
  }
  .main-section .background-details {
    padding-top: 5%;
    padding-right: 5%;
  }
  .main-section {
    margin-bottom: 5%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-section .background-title {
    font-size: 2.62rem;
    width: 10%;
    padding-right: 3%;
    padding-top: 5%;
    padding-left: 5%;
  }
  .main-section .background-details {
    margin-left: 6%;
    letter-spacing: 1.1px;
    width: 55%;
    font-size: 2.6rem;
    line-height: 1.6;
    padding-top: 5%;
    padding-right: 2%;
  }
  .skill {
    margin-bottom: 5%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skill .skill-main-title {
    letter-spacing: 2.61px;
    font-size: 2.62rem;
    width: 10%;
    padding-right: 3%;
    padding-top: 5%;
    padding-left: 5%;
    font-weight: 600;
    color: #007bff;
  }
  .skill .skill-sub-title {
    padding-top: 5%;
    font-family: "ApercuRegular", sans-serif;
    margin-left: 6%;
    letter-spacing: 1.1px;
    width: 55%;
    font-size: 2.6rem;
    line-height: 1.6;
    padding-right: 2%;
    color: #e7e7e7;
  }
  .skill .skill-sub-title .skill-list li {
    position: relative;
    padding-left: 15px;
    letter-spacing: 1.1px;
    line-height: 1.7;
    color: #e7e7e7;
    font-family: "ApercuRegular", sans-serif;
  }
  .skill .skill-sub-title .resume {
    font-size: 2.61rem;
    letter-spacing: 4.7px;
  }
}
/*# sourceMappingURL=main.css.map */