:root {
  --bg-color: #171c28;
  --color-headings: #bae67e;
}

@font-face {
  font-family: "ApercuRegular";
  src: url("fonts/Apercu-Font/Apercu Light.otf");
}

@font-face {
  font-family: "ApercuBold";
  src: url("fonts/Apercu-Font/Apercu Pro Bold.otf");
}

body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  background: var(--bg-color);
}

.btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@-webkit-keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
}

.title {
  height: 100vh;
  width: 50%;
  margin: 0 auto;
  padding-left: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title .sub-title {
  color: #e7e7e7;
  font-size: 2.1rem;
  letter-spacing: 2px;
  font-family: "ApercuRegular", sans-serif;
}

.title .sub-title .wave {
  height: 2rem;
  -webkit-animation-name: wave-animation;
          animation-name: wave-animation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: 70% 70%;
          transform-origin: 70% 70%;
}

.title .main-title {
  margin-top: 8%;
  line-height: 1.5;
  color: #e7e7e7;
  font-size: 1.9rem;
  max-width: 700px;
  font-family: "ApercuRegular", sans-serif;
}

.title .main-title .name {
  font-family: "ApercuBold", sans-serif;
}

.title .sub-contact-details {
  font-family: "ApercuRegular", sans-serif;
  margin-top: 10%;
  font-size: 1.35rem;
  color: #e7e7e7;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.title .sub-contact-details .pointoright {
  height: 1.6rem;
  padding-left: 10px;
  padding-right: 10px;
}

.title .sub-contact-details .mail-link {
  font-family: "AperRegular", sans-serif;
  text-decoration: none;
  color: #e7e7e7;
  border-bottom: 3px solid #007bff;
  padding-bottom: 2px;
}

.main-section {
  margin-bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-section .background-title {
  letter-spacing: 2.61px;
  font-size: 1.05rem;
  padding-right: 8%;
  padding-top: 5%;
  padding-left: 15%;
  font-family: "ApercuRegular", sans-serif;
  font-weight: 600;
  color: #007bff;
  min-width: 15%;
}

.main-section .background-details {
  letter-spacing: 1.1px;
  font-size: 1.15rem;
  line-height: 1.7;
  color: #e7e7e7;
  padding-top: 5%;
  padding-right: 5%;
  font-family: "ApercuRegular", sans-serif;
}

.skill {
  margin-bottom: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skill .skill-main-title {
  letter-spacing: 2.61px;
  font-size: 1.05rem;
  padding-right: 11%;
  padding-top: 5%;
  padding-left: 18%;
  font-family: "ApercuRegular", sans-serif;
  font-weight: 600;
  color: #007bff;
  min-width: 15%;
}

.skill .skill-sub-title {
  padding-top: 5%;
  font-family: "ApercuRegular", sans-serif;
  letter-spacing: 1.1px;
  padding-right: 10%;
  font-size: 1.15rem;
  line-height: 1.7;
  width: 80%;
  color: #e7e7e7;
}

.skill .skill-sub-title .skill-list .project-item {
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.05rem;
}

.skill .skill-sub-title .skill-list .project-item .project-title a {
  text-decoration: none;
  color: #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "ApercuBold", sans-serif;
}

.skill .skill-sub-title .skill-list .project-item .project-language {
  margin-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skill .skill-sub-title .skill-list .project-item .project-language .project__used__item:first-child {
  margin-left: 0;
}

.skill .skill-sub-title .skill-list .project-item .project-language .project__used__item {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  visibility: visible;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: inline-block;
  margin: 3px 3px 3px 0;
  font-family: Inconsolata, monospace;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 2px 7px;
  border-radius: 3px;
  color: #007bff;
  border: 1px solid #007bff;
  background: 0 0;
  margin-left: 20px;
}

.skill .skill-sub-title .skill-list .project-item .sub-title {
  color: #707074;
  font-size: 0.98rem;
}

.skill .skill-sub-title .skill-list li {
  position: relative;
  padding-left: 15px;
  letter-spacing: 1.1px;
  line-height: 1.7;
  color: #e7e7e7;
  font-family: "ApercuRegular", sans-serif;
}

.skill .skill-sub-title .resume {
  padding-left: 4%;
  font-family: "ApercuBold", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 1.4px;
}

.skill .skill-sub-title .arrow {
  color: #e7e7e7;
  margin: 1em 0;
}

.skill .skill-sub-title .arrow::after {
  color: #007bff;
  display: inline-block;
  padding-left: 8px;
  content: "\0279E";
  -webkit-transition: transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.skill .skill-sub-title .arrow:hover::after {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .main-text {
  margin-left: 1%;
  color: #b9b5b5;
  font-size: 1rem;
  letter-spacing: 2px;
  font-family: "AperRegular", sans-serif;
}

.footer .contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 200px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 2%;
  font-size: 1rem;
  color: #b9b5b5;
  padding: 1%;
}

.footer .contact-details a {
  color: #b9b5b5;
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  .title {
    margin-top: 2%;
    height: 99vh;
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .title .btn {
    margin-top: -10%;
  }
  .title .sub-title {
    -ms-flex-item-align: start;
        align-self: flex-start;
    color: #e7e7e7;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-family: "ApercuRegular", sans-serif;
  }
  .title .sub-title .wave {
    height: 2rem;
  }
  .title .main-title {
    line-height: 1.7;
    color: #e7e7e7;
    font-size: 1.1rem;
    max-width: 700px;
    font-family: "ApercuRegular", sans-serif;
  }
  .title .main-title .name {
    font-family: "ApercuBold", sans-serif;
    font-weight: 700;
  }
  .title .sub-contact-details {
    font-family: "ApercuRegular", sans-serif;
    margin-top: 35%;
    font-size: 1rem;
    color: #e7e7e7;
  }
  .title .sub-contact-details .pointoright {
    height: 1rem;
    padding-left: 10px;
    padding-right: 10px;
  }
  .title .sub-contact-details .mail-link {
    font-family: "AperRegular", sans-serif;
    text-decoration: none;
    color: #e7e7e7;
    font-size: 1rem;
    border-bottom: 2px solid #007bff;
    padding-bottom: 2px;
  }
  .main-section {
    margin-top: 1%;
    margin-bottom: 2%;
    padding-left: 5vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
  }
  .main-section .background-title {
    width: 75%;
    font-size: 1rem;
    padding-left: 0;
    padding-right: 11%;
    letter-spacing: 1.1px;
    font-family: "ApercuBold", sans-serif;
    color: #007bff;
  }
  .main-section .background-details {
    width: 75%;
    letter-spacing: 1.1px;
    padding-top: 5%;
    padding-right: 10%;
    font-size: 0.91rem;
    line-height: 1.6;
    color: #e7e7e7;
    font-family: "AperRegular", sans-serif;
  }
  .skill {
    margin-top: 20%;
    margin-bottom: 2%;
    padding-left: 5vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skill .skill-main-title {
    width: 75%;
    font-size: 1rem;
    padding-left: 0;
    letter-spacing: 1.1px;
    font-family: "ApercuBold", sans-serif;
    color: #007bff;
    padding-right: 11%;
    padding-top: 5%;
  }
  .skill .skill-sub-title {
    width: 75%;
    letter-spacing: 1.1px;
    font-size: 0.91rem;
    line-height: 1.6;
    color: #e7e7e7;
    font-family: "AperRegular", sans-serif;
  }
  .skill .skill-sub-title .skill-list .project-item {
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skill .skill-sub-title .skill-list .project-item .project-title a {
    text-decoration: none;
    color: #e7e7e7;
    font-size: 1rem;
    letter-spacing: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 2;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "ApercuBold", sans-serif;
  }
  .skill .skill-sub-title .skill-list .project-item .project-language {
    width: 100%;
    margin-top: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    letter-spacing: 1.1px;
    font-size: 0.91rem;
    padding: 2px;
  }
  .skill .skill-sub-title .skill-list .project-item .project-language .project__used__item {
    -webkit-font-smoothing: antialiased;
    visibility: visible;
    font-family: Inconsolata, monospace;
    font-size: 0.75rem;
    font-weight: 700;
    border-radius: 3px;
    color: #007bff;
    border: 1px solid #007bff;
    background: 0 0;
    padding: 2px 4px;
  }
  .skill .skill-sub-title .skill-list .project-item .sub-title {
    margin-top: 1%;
    color: #707074;
    letter-spacing: 1.1px;
    font-size: 0.91rem;
  }
  .skill .skill-sub-title .skill-list li {
    position: relative;
    padding-left: 15px;
    letter-spacing: 1.1px;
    line-height: 1.7;
    color: #e7e7e7;
    font-family: "ApercuRegular", sans-serif;
  }
  .skill .skill-sub-title .resume {
    font-size: 1rem;
    letter-spacing: 1.4px;
  }
  .footer {
    margin-top: 15%;
    width: 100%;
    padding-bottom: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .main-text {
    color: #b9b5b5;
    font-size: 0.91rem;
    letter-spacing: 2px;
    margin-bottom: 3%;
    font-family: "AperRegular", sans-serif;
  }
  .footer .contact-details {
    margin-top: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 1rem;
    color: #b9b5b5;
  }
  .footer .contact-details a {
    color: #b9b5b5;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .title {
    height: 100vh;
    width: 50%;
    margin: 0 auto;
    padding-left: 7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .title .sub-title {
    color: #e7e7e7;
    font-size: 1.52rem;
    letter-spacing: 2px;
    font-family: "ApercuRegular", sans-serif;
  }
  .title .sub-title .wave {
    height: 2rem;
  }
  .title .main-title {
    margin-top: 8%;
    line-height: 1.5;
    color: #e7e7e7;
    font-size: 1.52rem;
    font-family: "ApercuRegular", sans-serif;
  }
  .title .main-title .name {
    font-family: "ApercuBold", sans-serif;
    font-weight: 700;
  }
  .title .sub-contact-details {
    font-family: "ApercuRegular", sans-serif;
    margin-top: 15%;
    font-size: 1.15rem;
    color: #e7e7e7;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .title .sub-contact-details .pointoright {
    height: 1.6rem;
    padding-left: 10px;
    padding-right: 10px;
  }
  .title .sub-contact-details .mail-link {
    font-family: "AperRegular", sans-serif;
    text-decoration: none;
    color: #e7e7e7;
    border-bottom: 3px solid #007bff;
    padding-bottom: 2px;
  }
  .main-section {
    margin-top: 4%;
    margin-bottom: 2%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-section .background-title {
    width: 70%;
    font-size: 1.1rem;
    padding: 3%;
    letter-spacing: 1.1px;
    font-family: "ApercuBold", sans-serif;
    color: #007bff;
  }
  .main-section .background-details {
    width: 70%;
    letter-spacing: 1.1px;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #e7e7e7;
    padding: 1%;
    font-family: "AperRegular", sans-serif;
  }
  .skill {
    margin-top: 4%;
    margin-bottom: 2%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skill .skill-main-title {
    width: 70%;
    font-size: 1.1rem;
    padding: 3%;
    letter-spacing: 1.1px;
    font-family: "ApercuBold", sans-serif;
    color: #007bff;
  }
  .skill .skill-sub-title {
    width: 70%;
    letter-spacing: 1.1px;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #e7e7e7;
    padding: 1%;
    font-family: "AperRegular", sans-serif;
  }
  .skill .skill-sub-title .skill-list .project-item {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skill .skill-sub-title .skill-list .project-item .project-title a {
    text-decoration: none;
    color: #e7e7e7;
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "ApercuBold", sans-serif;
  }
  .skill .skill-sub-title .skill-list .project-item .project-language {
    margin-top: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .skill .skill-sub-title .skill-list .project-item .project-language .project__used__item:first-child {
    margin-left: 0;
  }
  .skill .skill-sub-title .skill-list .project-item .project-language .project__used__item {
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    visibility: visible;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    display: inline-block;
    margin: 3px 3px 3px 0;
    font-family: Inconsolata, monospace;
    font-size: 0.75rem;
    font-weight: 700;
    padding: 2px 7px;
    border-radius: 3px;
    color: #007bff;
    border: 1px solid #007bff;
    background: 0 0;
    margin-left: 20px;
  }
  .skill .skill-sub-title .skill-list .project-item .sub-title {
    color: #707074;
    font-size: 0.98rem;
  }
  .skill .skill-sub-title .skill-list li {
    position: relative;
    padding-left: 15px;
    letter-spacing: 1.1px;
    line-height: 1.7;
    color: #e7e7e7;
    font-family: "ApercuRegular", sans-serif;
  }
  .resume {
    font-family: "ApercuBold", sans-serif;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 1.4px;
  }
  .footer {
    width: 100%;
    padding-bottom: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .main-text {
    color: #b9b5b5;
    font-size: 0.91rem;
    letter-spacing: 2px;
    font-family: "AperRegular", sans-serif;
  }
  .footer .contact-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 1rem;
    color: #b9b5b5;
  }
  .footer .contact-details a {
    color: #b9b5b5;
  }
}

@media only screen and (min-width: 2000px) {
  .title {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .title .sub-title {
    color: #e7e7e7;
    font-size: 3rem;
    letter-spacing: 1px;
    font-family: "ApercuRegular", sans-serif;
  }
  .title .sub-title .wave {
    height: 3.7rem;
  }
  .title .main-title {
    line-height: 1.5;
    color: #e7e7e7;
    font-size: 3rem;
    font-family: "ApercuRegular", sans-serif;
  }
  .title .main-title .name {
    font-family: "ApercuBold", sans-serif;
    font-weight: 700;
  }
  .title .sub-contact-details {
    font-family: "ApercuRegular", sans-serif;
    font-size: 2.4rem;
  }
  .title .sub-contact-details .pointoright {
    height: 2.6rem;
    padding-left: 10px;
    padding-right: 10px;
  }
  .title .sub-contact-details .mail-link {
    color: #e7e7e7;
    padding-bottom: 2px;
  }
  .main-section {
    margin-bottom: 6%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-section .background-title {
    font-size: 2rem;
    min-width: 10%;
    padding-right: 3%;
    padding-top: 5%;
    padding-left: 5%;
  }
  .main-section .background-details {
    margin-left: 6%;
    letter-spacing: 1.1px;
    width: 55%;
    font-size: 2.1rem;
    line-height: 1.6;
    padding-top: 5%;
    padding-right: 2%;
  }
  .skill {
    margin-bottom: 9%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skill .skill-main-title {
    letter-spacing: 2.61px;
    font-size: 2rem;
    padding-right: 1%;
    padding-top: 5%;
    padding-left: 15%;
    font-weight: 600;
    color: #007bff;
    min-width: 13%;
  }
  .skill .skill-sub-title {
    padding-top: 5%;
    font-family: "ApercuRegular", sans-serif;
    margin-left: 6%;
    letter-spacing: 1.1px;
    width: 55%;
    font-size: 2rem;
    line-height: 1.6;
    padding-right: 2%;
    color: #e7e7e7;
  }
  .skill .skill-sub-title .skill-list .project-item {
    width: 95%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .skill .skill-sub-title .skill-list .project-item .project-title a {
    letter-spacing: 3px;
    text-decoration: none;
    color: #e7e7e7;
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "ApercuBold", sans-serif;
  }
  .skill .skill-sub-title .skill-list .project-item .project-language {
    margin-top: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    letter-spacing: 1.1px;
    font-size: 0.91rem;
  }
  .skill .skill-sub-title .skill-list .project-item .project-language .project__used__item:first-child {
    margin-left: 0;
  }
  .skill .skill-sub-title .skill-list .project-item .project-language .project__used__item {
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    visibility: visible;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    display: inline-block;
    margin: 3px 3px 3px 0;
    font-family: Inconsolata, monospace;
    font-size: 1.92rem;
    font-weight: 700;
    padding: 2px 7px;
    border-radius: 3px;
    color: #007bff;
    border: 1px solid #007bff;
    background: 0 0;
    margin-left: 20px;
  }
  .skill .skill-sub-title .skill-list .project-item .sub-title {
    margin-top: 1%;
    color: #707074;
    letter-spacing: 1.1px;
    font-size: 1.92rem;
  }
  .skill .skill-sub-title .skill-list li {
    position: relative;
    padding-left: 15px;
    letter-spacing: 1.1px;
    line-height: 1.7;
    color: #e7e7e7;
    font-family: "ApercuRegular", sans-serif;
  }
  .skill .skill-sub-title .resume {
    font-size: 2.11rem;
    letter-spacing: 4px;
  }
  .footer {
    margin-top: -5%;
  }
  .footer .main-text {
    margin-left: 1%;
    color: #b9b5b5;
    font-size: 1.9rem;
    letter-spacing: 2px;
    font-family: "AperRegular", sans-serif;
  }
  .footer .contact-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 10%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: 1%;
    font-size: 1.9rem;
    color: #b9b5b5;
    padding: 1%;
  }
  .footer .contact-details a {
    color: #b9b5b5;
  }
}
/*# sourceMappingURL=main.css.map */