:root {
  --bg-color: #171c28;
  --color-headings: #bae67e;
}

@font-face {
  font-family: "ApercuRegular";
  src: url("fonts/Apercu-Font/Apercu Light.otf");
}

@font-face {
  font-family: "ApercuBold";
  src: url("fonts/Apercu-Font/Apercu Pro Bold.otf");
}

body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background: var(--bg-color);
  cursor: none;
}
.btn {
  align-self: flex-end;
}

.cursor {
  width: 22px;
  height: 22px;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 2px solid rgb(27, 27, 27);
  border-radius: 50%;
  opacity: 0.5;
  top: -2px;
  left: -2px;
}

@keyframes cursorAnim {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(0.7);
  }
}
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
}

.title {
  height: 100vh;
  width: 50%;
  margin: 0 auto;
  padding-left: 7%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .sub-title {
    color: #e7e7e7;
    font-size: 2.1rem;
    letter-spacing: 2px;
    font-family: "ApercuRegular", sans-serif;
    .wave {
      height: 2rem;
      animation-name: wave-animation;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      transform-origin: 70% 70%;
    }
  }
  .main-title {
    margin-top: 8%;

    line-height: 1.5;
    color: #e7e7e7;
    font-size: 1.9rem;
    max-width: 700px;

    font-family: "ApercuRegular", sans-serif;
    .name {
      font-family: "ApercuBold", sans-serif;
    }
  }

  .sub-contact-details {
    font-family: "ApercuRegular", sans-serif;
    margin-top: 10%;
    font-size: 1.35rem;
    color: #e7e7e7;
    align-self: flex-start;

    .pointoright {
      height: 1.6rem;
      padding-left: 10px;
      padding-right: 10px;
    }
    .mail-link {
      font-family: "AperRegular", sans-serif;
      text-decoration: none;
      color: #e7e7e7;
      border-bottom: 3px solid #007bff;
      padding-bottom: 2px;
    }
  }
}
.main-section {
  margin-bottom: 10%;

  display: flex;

  .background-title {
    letter-spacing: 2.61px;
    font-size: 1.05rem;
    padding-right: 8%;
    padding-top: 5%;
    padding-left: 15%;
    font-family: "ApercuRegular", sans-serif;
    font-weight: 600;
    color: #007bff;
    width: 15%;
  }
  .background-details {
    letter-spacing: 1.1px;
    font-size: 1.15rem;
    line-height: 1.7;
    color: #e7e7e7;
    padding-top: 5%;
    padding-right: 10%;

    font-family: "ApercuRegular", sans-serif;
  }
}

.skill {
  margin-bottom: 6%;
  display: flex;
  width: 90%;
  justify-content: space-around;
  .skill-main-title {
    letter-spacing: 2.61px;
    font-size: 1.05rem;
    padding-right: 11%;
    padding-top: 5%;
    padding-left: 18%;
    font-family: "ApercuRegular", sans-serif;
    font-weight: 600;
    color: #007bff;
    width: 10%;
  }

  .skill-sub-title {
    padding-top: 5%;
    font-family: "ApercuRegular", sans-serif;
    letter-spacing: 1.1px;
    padding-right: 10%;
    font-size: 1.15rem;
    line-height: 1.7;
    width: 80%;
    color: #e7e7e7;
    .skill-list {
      .project-item {
        width: 100%;
        padding-top: 1%;
        padding-bottom: 1%;
        margin-bottom: 6%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        .project-title a {
          text-decoration: none;
          color: #e7e7e7;
          font-size: 1rem;
          display: flex;
          flex-direction: row;
          justify-content: center;
          font-family: "ApercuBold", sans-serif;
        }

        .project-language {
          margin-top: 1%;
          display: flex;
          justify-content: start;
          .project__used__item:first-child {
            margin-left: 0;
          }
          .project__used__item {
            -webkit-font-smoothing: antialiased;
            line-height: 1.5;
            visibility: visible;
            box-sizing: inherit;
            display: inline-block;
            margin: 3px 3px 3px 0;
            font-family: Inconsolata, monospace;
            font-size: 0.75rem;
            font-weight: 700;
            padding: 2px 7px;
            border-radius: 3px;
            color: #007bff;
            border: 1px solid #007bff;
            background: 0 0;
            margin-left: 20px;
          }
        }
        .sub-title {
          color: #707074;
          font-size: 0.98rem;
        }
      }
    }
    .skill-list li {
      position: relative;
      padding-left: 15px;
      letter-spacing: 1.1px;

      line-height: 1.7;
      color: #e7e7e7;
      font-family: "ApercuRegular", sans-serif;
    }
    .resume {
      padding-left: 4%;
      font-family: "ApercuBold", sans-serif;
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: 1.2rem;
      letter-spacing: 1.4px;
    }
    .arrow {
      color: #e7e7e7;
      margin: 1em 0;

      &::after {
        color: #007bff;
        display: inline-block;
        padding-left: 8px;
        content: "\0279E";
        -webkit-transition: transform 0.3s ease-out;
        -moz-transition: transform 0.3s ease-out;
        -ms-transition: transform 0.3s ease-out;
        -o-transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
      }

      &:hover {
        &::after {
          -webkit-transform: translateX(4px);
          -moz-transform: translateX(4px);
          -ms-transform: translateX(4px);
          -o-transform: translateX(4px);
          transform: translateX(4px);
        }
      }
    }
  }
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  .cursor {
    display: none;
  }

  .title {
    margin-top: 2%;
    height: 99vh;
    width: 70%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .btn {
      margin-top: -10%;
    }
    .sub-title {
      align-self: flex-start;
      color: #e7e7e7;
      font-size: 1.1rem;
      letter-spacing: 1px;
      font-family: "ApercuRegular", sans-serif;
      .wave {
        height: 2rem;
      }
    }
    .main-title {
      line-height: 1.7;
      color: #e7e7e7;
      font-size: 1.1rem;
      max-width: 700px;

      font-family: "ApercuRegular", sans-serif;
      .name {
        font-family: "ApercuBold", sans-serif;
        font-weight: 700;
      }
    }

    .sub-contact-details {
      font-family: "ApercuRegular", sans-serif;
      margin-top: 35%;
      font-size: 1rem;
      color: #e7e7e7;

      .pointoright {
        height: 1rem;
        padding-left: 10px;
        padding-right: 10px;
      }

      .mail-link {
        font-family: "AperRegular", sans-serif;
        text-decoration: none;
        color: #e7e7e7;
        font-size: 1rem;

        border-bottom: 2px solid #007bff;
        padding-bottom: 2px;
      }
    }
  }
  .main-section {
    margin-top: 1%;
    margin-bottom: 2%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .background-title {
      width: 70%;
      font-size: 1rem;
      padding: 4%;
      padding-left: 0;
      letter-spacing: 1.1px;
      font-family: "ApercuBold", sans-serif;
      color: #007bff;
    }
    .background-details {
      width: 73%;
      letter-spacing: 1.1px;
      font-size: 0.91rem;
      line-height: 1.6;
      color: #e7e7e7;
      padding: 4%;
      font-family: "AperRegular", sans-serif;
    }
  }
  .skill {
    margin-top: 14%;
    margin-bottom: 2%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .skill-main-title {
      width: 70%;
      font-size: 1rem;
      padding: 4%;
      padding-left: 0;
      letter-spacing: 1.1px;
      font-family: "ApercuBold", sans-serif;
      color: #007bff;
    }

    .skill-sub-title {
      width: 73%;
      letter-spacing: 1.1px;
      font-size: 0.91rem;
      line-height: 1.6;
      color: #e7e7e7;
      padding: 4%;
      font-family: "AperRegular", sans-serif;

      .skill-list {
        .project-item {
          width: 95%;
          padding-top: 1%;
          padding-bottom: 1%;
          margin-bottom: 15%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .project-title a {
            text-decoration: none;
            color: #e7e7e7;
            font-size: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-family: "ApercuBold", sans-serif;
          }

          .project-language {
            margin-top: 3%;
            display: flex;
            width: 70%;
            letter-spacing: 1.1px;
            font-size: 0.91rem;
            .project__used__item:first-child {
              margin-left: 0;
            }
            .project__used__item {
              -webkit-font-smoothing: antialiased;
              line-height: 1.5;
              visibility: visible;
              box-sizing: inherit;
              display: inline-block;
              margin: 3px 3px 3px 0;
              font-family: Inconsolata, monospace;
              font-size: 0.75rem;
              font-weight: 700;
              padding: 2px 7px;
              border-radius: 3px;
              color: #007bff;
              border: 1px solid #007bff;
              background: 0 0;
              margin-left: 20px;
            }
          }
          .sub-title {
            margin-top: 1%;
            color: #707074;
            letter-spacing: 1.1px;
            font-size: 0.91rem;
          }
        }
      }
      .skill-list li {
        position: relative;
        padding-left: 15px;
        letter-spacing: 1.1px;

        line-height: 1.7;
        color: #e7e7e7;
        font-family: "ApercuRegular", sans-serif;
      }
      .resume {
        font-size: 1rem;
        letter-spacing: 1.4px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .title {
    height: 100vh;
    width: 50%;
    margin: 0 auto;
    padding-left: 7%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .sub-title {
      color: #e7e7e7;
      font-size: 1.52rem;
      letter-spacing: 2px;
      font-family: "ApercuRegular", sans-serif;
      .wave {
        height: 2rem;
      }
    }
    .main-title {
      margin-top: 8%;
      line-height: 1.5;
      color: #e7e7e7;
      font-size: 1.52rem;

      font-family: "ApercuRegular", sans-serif;
      .name {
        font-family: "ApercuBold", sans-serif;
        font-weight: 700;
      }
    }

    .sub-contact-details {
      font-family: "ApercuRegular", sans-serif;
      margin-top: 15%;
      font-size: 1.15rem;
      color: #e7e7e7;
      align-self: flex-start;

      .pointoright {
        height: 1.6rem;
        padding-left: 10px;
        padding-right: 10px;
      }
      .mail-link {
        font-family: "AperRegular", sans-serif;
        text-decoration: none;
        color: #e7e7e7;
        border-bottom: 3px solid #007bff;
        padding-bottom: 2px;
      }
    }
  }
  .main-section {
    margin-top: 4%;
    margin-bottom: 2%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .background-title {
      width: 70%;
      font-size: 1.1rem;
      padding: 3%;
      letter-spacing: 1.1px;
      font-family: "ApercuBold", sans-serif;
      color: #007bff;
    }
    .background-details {
      width: 70%;
      letter-spacing: 1.1px;
      font-size: 1.1rem;
      line-height: 1.6;
      color: #e7e7e7;
      padding: 1%;
      font-family: "AperRegular", sans-serif;
    }
  }
  .skill {
    margin-top: 4%;
    margin-bottom: 2%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .skill-main-title {
      width: 70%;
      font-size: 1.1rem;
      padding: 3%;
      letter-spacing: 1.1px;
      font-family: "ApercuBold", sans-serif;
      color: #007bff;
    }

    .skill-sub-title {
      width: 70%;
      letter-spacing: 1.1px;
      font-size: 1.1rem;
      line-height: 1.6;
      color: #e7e7e7;
      padding: 1%;
      font-family: "AperRegular", sans-serif;

      .skill-list {
        .project-item {
          width: max-content;
          padding-top: 1%;
          padding-bottom: 1%;
          margin-bottom: 7%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          flex-wrap: wrap;
          .project-title a {
            text-decoration: none;
            color: #e7e7e7;
            font-size: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-family: "ApercuBold", sans-serif;
          }

          .project-language {
            margin-top: 1%;
            display: flex;
            justify-content: start;
            .project__used__item:first-child {
              margin-left: 0;
            }
            .project__used__item {
              -webkit-font-smoothing: antialiased;
              line-height: 1.5;
              visibility: visible;
              box-sizing: inherit;
              display: inline-block;
              margin: 3px 3px 3px 0;
              font-family: Inconsolata, monospace;
              font-size: 0.75rem;
              font-weight: 700;
              padding: 2px 7px;
              border-radius: 3px;
              color: #007bff;
              border: 1px solid #007bff;
              background: 0 0;
              margin-left: 20px;
            }
          }
          .sub-title {
            color: #707074;
            font-size: 0.98rem;
          }
        }
      }
      .skill-list li {
        position: relative;
        padding-left: 15px;
        letter-spacing: 1.1px;

        line-height: 1.7;
        color: #e7e7e7;
        font-family: "ApercuRegular", sans-serif;
      }
    }
  }
  .resume {
    font-family: "ApercuBold", sans-serif;
    display: none;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 1.4px;
  }
}

@media only screen and (min-width: 2000px) {
  .title {
    height: 100vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .btn {
      margin-top: -10%;
    }
    .sub-title {
      align-self: flex-start;
      color: #e7e7e7;
      font-size: 3.8rem;
      letter-spacing: 1px;
      font-family: "ApercuRegular", sans-serif;
      .wave {
        height: 3.8rem;
      }
    }
    .main-title {
      line-height: 1.5;
      color: #e7e7e7;
      font-size: 3.8rem;
      font-family: "ApercuRegular", sans-serif;
      .name {
        font-family: "ApercuBold", sans-serif;
        font-weight: 700;
      }
    }

    .sub-contact-details {
      font-family: "ApercuRegular", sans-serif;
      font-size: 2.4rem;

      .pointoright {
        padding-left: 10px;
        padding-right: 10px;
      }

      .mail-link {
        color: #e7e7e7;

        padding-bottom: 2px;
      }
    }
  }
  .main-section {
    .background-title {
      padding-top: 5%;
      width: 15%;
      padding-left: 5%;
    }
    .background-details {
      width: 55%;
      padding-top: 5%;
      padding-right: 2%;
    }
  }
  .main-section {
    margin-bottom: 5%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .background-title {
      font-size: 2.62rem;
      width: 10%;
      padding-right: 3%;
      padding-top: 5%;
      padding-left: 5%;
    }
    .background-details {
      margin-left: 6%;
      letter-spacing: 1.1px;
      width: 55%;
      font-size: 2.6rem;
      line-height: 1.6;
      padding-top: 5%;
      padding-right: 2%;
    }
  }

  .skill {
    margin-bottom: 5%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .skill-main-title {
      letter-spacing: 2.61px;
      font-size: 2.62rem;
      padding-right: 1%;
      padding-top: 5%;
      padding-left: 15%;
      font-weight: 600;
      color: #007bff;
    }

    .skill-sub-title {
      padding-top: 5%;
      font-family: "ApercuRegular", sans-serif;
      margin-left: 6%;
      letter-spacing: 1.1px;
      width: 55%;
      font-size: 2.6rem;
      line-height: 1.6;
      padding-right: 2%;
      color: #e7e7e7;
      .skill-list {
        .project-item {
          width: 95%;
          padding-top: 1%;
          padding-bottom: 1%;
          margin-bottom: 10%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .project-title a {
            text-decoration: none;
            color: #e7e7e7;
            font-size: 2.3rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-family: "ApercuBold", sans-serif;
          }

          .project-language {
            margin-top: 3%;
            display: flex;
            width: 70%;
            letter-spacing: 1.1px;
            font-size: 0.91rem;
            .project__used__item:first-child {
              margin-left: 0;
            }
            .project__used__item {
              -webkit-font-smoothing: antialiased;
              line-height: 1.5;
              visibility: visible;
              box-sizing: inherit;
              display: inline-block;
              margin: 3px 3px 3px 0;
              font-family: Inconsolata, monospace;
              font-size: 1.92rem;
              font-weight: 700;
              padding: 2px 7px;
              border-radius: 3px;
              color: #007bff;
              border: 1px solid #007bff;
              background: 0 0;
              margin-left: 20px;
            }
          }
          .sub-title {
            margin-top: 1%;
            color: #707074;
            letter-spacing: 1.1px;
            font-size: 2.31rem;
          }
        }
      }
      .skill-list li {
        position: relative;
        padding-left: 15px;
        letter-spacing: 1.1px;

        line-height: 1.7;
        color: #e7e7e7;
        font-family: "ApercuRegular", sans-serif;
      }
      .resume {
        font-size: 2.61rem;
        letter-spacing: 4.7px;
      }
    }
  }
}
