:root {
  --bg-color: #171c28;
  --color-headings: #b9b8b8;
}

@font-face {
  font-family: "ApercuRegular";
  src: url("fonts/Apercu-Font/Apercu Light.otf");
}

@font-face {
  font-family: "ApercuBold";
  src: url("fonts/Apercu-Font/Apercu Pro Bold.otf");
}

body {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: var(--bg-color);
  cursor: none;
}
.btn {
  align-self: flex-end;
}
.cursor {
  width: 22px;
  height: 22px;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 2px solid rgb(27, 27, 27);
  border-radius: 50%;
  opacity: 0.5;
  top: -2px;
  left: -2px;
}
input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #e7e7e7;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: var(--color-headings);
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}
@keyframes cursorAnim {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(0.7);
  }
}

.title {
  height: 100vh;
  width: 50%;
  margin: 0 auto;
  padding-left: 7%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .sub-title {
    color: #e7e7e7;
    font-size: 2.3rem;
    letter-spacing: 2px;
    font-family: "ApercuRegular", sans-serif;
    .wave {
      height: 2rem;
    }
  }
  .main-title {
    margin-top: 8%;

    line-height: 1.5;
    color: #e7e7e7;
    font-size: 2rem;
    max-width: 700px;

    font-family: "ApercuRegular", sans-serif;
    .name {
      font-family: "ApercuBold", sans-serif;
      font-weight: 700;
    }
  }

  .sub-contact-details {
    font-family: "ApercuRegular", sans-serif;
    margin-top: 10%;
    font-size: 1.25rem;
    color: #e7e7e7;
    align-self: flex-start;

    .pointoright {
      height: 1.6rem;
      padding-left: 10px;
      padding-right: 10px;
    }
    .mail-link {
      font-family: "AperRegular", sans-serif;
      font-weight: 400;
      text-decoration: none;
      color: #e7e7e7;
      border-bottom: 3px solid #007bff;
      padding-bottom: 2px;
    }
  }
}

@media screen and (max-width: 992px) {
  .title {
    margin-top: -30px;
    height: 100vh;
    width: 70%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .sub-title {
      align-self: flex-start;
      color: #e7e7e7;
      font-size: 1.4rem;
      letter-spacing: 1px;
      font-family: "ApercuRegular", sans-serif;
      .wave {
        height: 2rem;
      }
    }
    .main-title {
      margin-top: 13%;

      line-height: 1.2;
      color: #e7e7e7;
      font-size: 1.8rem;
      max-width: 700px;

      font-family: "ApercuRegular", sans-serif;
      .name {
        font-family: "ApercuBold", sans-serif;
        font-weight: 700;
      }
    }

    .sub-contact-details {
      font-family: "ApercuRegular", sans-serif;
      margin-top: 35%;
      font-size: 1.2rem;
      color: #e7e7e7;

      .pointoright {
        height: 1rem;
        padding-left: 10px;
        padding-right: 10px;
      }
      .mail-link {
        font-family: "AperRegular", sans-serif;
        font-weight: 400;
        text-decoration: none;
        color: #e7e7e7;
        padding-top: 4px;
        border-bottom: 2px solid #007bff;
        padding-bottom: 2px;
      }
    }
  }
}
