:root {
  --bg-color: #171c28;
  --color-headings: #bae67e;
}

@font-face {
  font-family: "ApercuRegular";
  src: url("fonts/Apercu-Font/Apercu Light.otf");
}

@font-face {
  font-family: "ApercuBold";
  src: url("fonts/Apercu-Font/Apercu Pro Bold.otf");
}

body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background: var(--bg-color);
  cursor: none;
}
.btn {
  align-self: flex-end;
}

.cursor {
  width: 22px;
  height: 22px;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 2px solid rgb(27, 27, 27);
  border-radius: 50%;
  opacity: 0.5;
  top: -2px;
  left: -2px;
}

@keyframes cursorAnim {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(0.7);
  }
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
}

.title {
  height: 100vh;
  width: 50%;
  margin: 0 auto;
  padding-left: 7%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .sub-title {
    color: #e7e7e7;
    font-size: 2.1rem;
    letter-spacing: 2px;
    font-family: "ApercuRegular", sans-serif;
    .wave {
      height: 2rem;
    }
  }
  .main-title {
    margin-top: 8%;

    line-height: 1.5;
    color: #e7e7e7;
    font-size: 1.92rem;
    max-width: 700px;

    font-family: "ApercuRegular", sans-serif;
    .name {
      font-family: "ApercuBold", sans-serif;
    }
  }

  .sub-contact-details {
    font-family: "ApercuRegular", sans-serif;
    margin-top: 10%;
    font-size: 1.35rem;
    color: #e7e7e7;
    align-self: flex-start;

    .pointoright {
      height: 1.6rem;
      padding-left: 10px;
      padding-right: 10px;
    }
    .mail-link {
      font-family: "AperRegular", sans-serif;
      font-weight: 400;
      text-decoration: none;
      color: #e7e7e7;
      border-bottom: 3px solid #007bff;
      padding-bottom: 2px;
    }
  }
}
.main-section {
  margin-bottom: 10%;
  height: max-content;
  display: flex;
  justify-content: center;

  .background-title {
    letter-spacing: 2.61px;
    font-size: 1.14rem;
    width: 50%;
    padding-right: 3%;
    padding-top: 5%;
    padding-left: 19%;
    font-family: "ApercuRegular", sans-serif;
    font-weight: 600;
    color: #007bff;
  }
  .background-details {
    letter-spacing: 1.1px;
    font-size: 1.15rem;
    line-height: 1.7;
    color: #e7e7e7;
    padding-top: 5%;
    padding-right: 10%;

    font-family: "AperRegular", sans-serif;
  }
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  .title {
    margin-top: 2%;
    height: 99vh;
    width: 70%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .btn {
      margin-top: -10%;
    }
    .sub-title {
      align-self: flex-start;
      color: #e7e7e7;
      font-size: 1.1rem;
      letter-spacing: 1px;
      font-family: "ApercuRegular", sans-serif;
      .wave {
        height: 2rem;
      }
    }
    .main-title {
      line-height: 1.7;
      color: #e7e7e7;
      font-size: 1.1rem;
      max-width: 700px;

      font-family: "ApercuRegular", sans-serif;
      .name {
        font-family: "ApercuBold", sans-serif;
        font-weight: 700;
      }
    }

    .sub-contact-details {
      font-family: "ApercuRegular", sans-serif;
      margin-top: 35%;
      font-size: 1rem;
      color: #e7e7e7;

      .pointoright {
        height: 1rem;
        padding-left: 10px;
        padding-right: 10px;
      }

      .mail-link {
        font-family: "AperRegular", sans-serif;
        font-weight: 400;
        text-decoration: none;
        color: #e7e7e7;
        font-size: 1rem;

        border-bottom: 2px solid #007bff;
        padding-bottom: 2px;
      }
    }
  }
  .main-section {
    margin-top: 1%;
    margin-bottom: 2%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .background-title {
      width: 70%;
      font-size: 1rem;
      padding: 4%;
      letter-spacing: 1.1px;
      font-family: "ApercuBold", sans-serif;
      color: #007bff;
    }
    .background-details {
      width: 73%;
      letter-spacing: 1.1px;
      font-size: 0.91rem;
      line-height: 1.6;
      color: #e7e7e7;
      padding: 4%;
      font-family: "AperRegular", sans-serif;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .title {
    height: 100vh;
    width: 50%;
    margin: 0 auto;
    padding-left: 7%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .sub-title {
      color: #e7e7e7;
      font-size: 1.52rem;
      letter-spacing: 2px;
      font-family: "ApercuRegular", sans-serif;
      .wave {
        height: 2rem;
      }
    }
    .main-title {
      margin-top: 8%;
      line-height: 1.5;
      color: #e7e7e7;
      font-size: 1.52rem;

      font-family: "ApercuRegular", sans-serif;
      .name {
        font-family: "ApercuBold", sans-serif;
        font-weight: 700;
      }
    }

    .sub-contact-details {
      font-family: "ApercuRegular", sans-serif;
      margin-top: 15%;
      font-size: 1.15rem;
      color: #e7e7e7;
      align-self: flex-start;

      .pointoright {
        height: 1.6rem;
        padding-left: 10px;
        padding-right: 10px;
      }
      .mail-link {
        font-family: "AperRegular", sans-serif;
        font-weight: 300;
        text-decoration: none;
        color: #e7e7e7;
        border-bottom: 3px solid #007bff;
        padding-bottom: 2px;
      }
    }
  }
  .main-section {
    margin-top: 4%;
    margin-bottom: 2%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .background-title {
      width: 70%;
      font-size: 1.1rem;
      padding: 3%;
      letter-spacing: 1.1px;
      font-family: "ApercuBold", sans-serif;
      color: #007bff;
    }
    .background-details {
      width: 70%;
      letter-spacing: 1.1px;
      font-size: 1.1rem;
      line-height: 1.6;
      color: #e7e7e7;
      padding: 1%;
      font-family: "AperRegular", sans-serif;
    }
  }
}

@media only screen and (min-width: 2000px) {
  .title {
    height: 100vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .btn {
      margin-top: -10%;
    }
    .sub-title {
      align-self: flex-start;
      color: #e7e7e7;
      font-size: 3.8rem;
      letter-spacing: 1px;
      font-family: "ApercuRegular", sans-serif;
      .wave {
        height: 3.8rem;
      }
    }
    .main-title {
      line-height: 1.5;
      color: #e7e7e7;
      font-size: 3.8rem;
      font-family: "ApercuRegular", sans-serif;
      .name {
        font-family: "ApercuBold", sans-serif;
        font-weight: 700;
      }
    }

    .sub-contact-details {
      font-family: "ApercuRegular", sans-serif;
      font-size: 2.4rem;

      .pointoright {
        padding-left: 10px;
        padding-right: 10px;
      }

      .mail-link {
        color: #e7e7e7;

        padding-bottom: 2px;
      }
    }
  }
  .main-section {
    .background-title {
      padding-top: 5%;
      padding-left: 5%;
    }
    .background-details {
      padding-top: 5%;
      padding-right: 5%;
    }
  }
  .main-section {
    margin-bottom: 5%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .background-title {
      font-size: 2.62rem;
      width: 10%;
      padding-right: 3%;
      padding-top: 5%;
      padding-left: 5%;
    }
    .background-details {
      margin-left: 6%;
      letter-spacing: 1.1px;
      width: 55%;
      font-size: 2.6rem;
      line-height: 1.6;
      padding-top: 5%;
      padding-right: 2%;
    }
  }
}
